      <!-- Content
       ================================================== -->
     <div class="container" role="docs">
     
      <div class="row">    

                    <article class="span12 docs">
			            <header class="page-header"><h1>Acerca del Proyecto</h1></header>
                        				<div class="span3">
					<div class="well" style="padding: 8px 0;">
						<ul class="nav nav-list" id="Doc">
					<!-- 		<li class="nav-header">Acerca del Proyecto</li> -->
							<li class="active"><a href="#installation" data-toggle="tab"><i class="icon-flag"></i> Antecedentes</a></li>
							<li><a href="#configuration" data-toggle="tab"><i class="icon-cog"></i> Objetivos de proyecto</a></li>
							<li><a href="#theme" data-toggle="tab"><i class="icon-tint"></i> Meteorología</a></li>
							<li><a href="#plugin" data-toggle="tab"><i class=" icon-star"></i> Instrumentos </a></li>
							<li><a href="#developpeur" data-toggle="tab"><i class="icon-wrench"></i> Opotunudades de Mejora</a></li>
						</ul>
					</div>
				</div>
				<div id="doc" class="span8">
                                    <div class="tab-content">
                                            <div class="tab-pane active" id="installation">
					
					       <h2>Antecedentes</h2>
					          <ul>
					             Desde la antigüedad el hombre a intentado comprender elementos meteorológicos para poder utilizar el conocimiento a su favor, la observación de los cambios del clima y fenómenos atmosféricos es una actividad importante y compleja si se toma en cuenta la cantidad de variables que se manejan, su estudio ha evolucionado con el tiempo al igual que las herramientas de medición, lo que dio origen ala meteorología como ciencia encargada del estudio de la atmósfera, de sus propiedades y de los fenómenos que en ella tienen lugar. El estudio de la atmósfera se basa en el conocimiento de una serie de magnitudes, o variables meteorológicas, como la temperatura, presión atmosférica, humedad entre otras.
					          </ul>
					            <ul>
					           en equipamiento, técnicas y herramientas para mejorar la calidad de los estudios, por tanto la observación es una técnica que tiene sus limitaciones y sin las herramientas para comprobar las inferencias, puede hacer que simples observaciones se desvíen hacia una afirmación errónea.
					       </ul>              
                                            </div><!--/ installation -->

                                            <div class="tab-pane" id="configuration">
                                                <h2>Objetivos del proyecto</h2>
                                                	<ul class="nav nav-list" id="Doc">
					    <li >  Identificar los criterios y características que se toman en cuenta durante una investigación meteorológica.</li>

<li>Aplicar técnicas que optimicen el rendimiento de la base de datos.</li>

<li>Implementar un modelo flexible que facilite el proceso de consultas complejas.</li>

<li>Aplicar medidas de usabilidad y eficiencia en los procedimientos de acceso a la información.</li>

<li>Implementar un modelo que contemple la incorporación de mas estaciones   meteorológicas en el futuro.</li>

<li>Diseño y desarrollo de  sitio web para consulta y publicación de datos.</li>



	</ul>
                                            </div><!-- / Config -->

                                            <div class="tab-pane" id="theme">
                                                <h2>Objetivos de proyecto</h2>
					      <p>En Construcción…</p>
                                            </div><!-- / Theme -->

                                            <div class="tab-pane" id="plugin">
                                                <h2>Meteorología</h2>
					      <p>En Construcción…</p>
                                            </div><!-- / Plugin -->

                                            <div class="tab-pane" id="developpeur">
                                                <h2>Instrumentos</h2>
					      <p>En Construcción…</p>
                                            </div><!-- / Dev -->
                                    </div>
				</div>
             </article>
      </div> <!--/row-->
      
     </div>

     <!-- Footer
      ================================================== -->
      
      <footer class="container footer">
          </footer>     
