
    <div class="container">

      <!-- Main hero unit for a primary marketing message or call to action -->
      <div class="hero-unit">
        <h1>Sistema Web Meteorológico</h1>
        <p>Por medio del sistema presente se obtendrán resultados que permitan desarrollar investigaciones meteorológicas en el Centro de Ingeniería y Tecnología de UABC Valle las Palmas. </p>
        <p><a href="http://0.0.0.0:4242/myapp#dashboard/TechStats" class="btn btn-primary btn-large">Ver Mas &raquo;</a></p>
      </div>

      <!-- Example row of columns -->
      <div class="row">
        <div class="span4">
          <h2>Objetivo</h2>
          <p>El sistema será utilizado como herramienta primaria en investigaciones y estudios meteorológicos y ciencias afines, además contempla la integración de mas estaciones meteorológicas, para obtener información con mayor precisión y publicar los pronósticos del clima en base el estudio de los parámetros que registra al estación meteorológica </p>
          <p><a class="btn" href="#">Ver Detalles &raquo;</a></p>
        </div>
        <div class="span4">
          <h2>Instrumentos de Medición</h2>
          <p>La meteorología utiliza instrumentos esenciales, como el barómetro, el termómetro y el higrómetro, para determinar los valores absolutos, medios y extremos de los factores climáticos.. Para el trazado de mapas y la elaboración de predicciones es fundamental la recogida coordinada de datos en amplias zonas, lo que se realiza con la ayuda de los satélites meteorológicos. </p>
          <p><a class="btn" href="#">Ver Detalles &raquo;</a></p>
       </div>
        <div class="span4">
          <h2>Estudios Meteorologicos</h2>
          <p>Para estudiar la atmosfera es importante utilizar lo que se conoce como elemento meteorológico y que se definen como aquella variable atmosférica o fenómeno (temperatura del aire, presión, viento, humedad, tormentas, nieblas, ciclones o anticiclones, que caracteriza el estado del tiempo en un lugar especifico y en un tiempo dado.</p>
          <p><a class="btn" href="#">Ver Detalles &raquo;</a></p>
        </div>
      </div>

      <hr>

      <footer>
        <p>  Centro de Ingeniería y Tecnología de UABC Valle las Palmas &copy; 2013</p>
      </footer>

    </div> <!-- /container -->

 